{% if routes is defined %}

{% for port,config in routes.iteritems() %}
interface {{config.type}} {{port}}
 ip route {{config.ip_v4}} {{config.type}} {{port}}
 ipv6 route {{config.ip_v6}} {{config.type}} {{port}}
{% endfor %}

{% endif %}