{% if vlan_names is defined %}
{% for vlan_id,name in vlan_names.iteritems() %}
vlan {{vlan_id}}
 name {{name}}
{% endfor %}
{% endif %}

{% if vlan_networks is defined %}
{% for host,config in vlan_networks.iteritems() %}
{# {% if host == inventory_hostname %} #}
{% if host == inventory_hostname %}
{% for vlan_id,network in config.iteritems() %}
interface vlan {{vlan_id}}
 ip address {{network}}
 no shutdown
{% endfor %}
{# {% endif %} #}
{% endif %}
{% endfor %}
{% endif %}

{% if vlan_map is defined %}
{% for host,config in vlan_map.iteritems() %}
{# {% if host == inventory_hostname %} #}
{% if host == inventory_hostname %}
{% for vlan,iface in config.iteritems() %}
{% if vlan is number %} 
interface {{iface}}
 switchport mode access
 switchport access vlan {{vlan}}
{% elif vlan == 'trunk' %}
{% for key, iface_config in iface.iteritems() %}
{% if key == 'ifaces' %} 
{% for iface_el in iface_config %}
interface {{iface_el}}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk native {{iface.native}}
 switchport trunk allowed vlan all
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{# {% endif %} #}
{% endif %}
{% endfor %}
{% endif %}
